In [28]:
library(tidycensus)
library(tidyr)
library(stringr)
library(dplyr)

census_api_key(Sys.getenv("CENSUS_API_KEY"))

# load variable data and transform
variable_data <- load_variables(2020, "acs5", cache = TRUE) %>%
    rename_all(recode,
        name = "variable_key", concept = "dataset",
        label = "variable"
    ) %>%
    mutate(
        dataset = tolower(dataset),
        dataset = gsub(" ", "_", dataset),
        variable = tolower(variable),
        variable = gsub("!!", "_", variable),
        variable = gsub(" ", "_", variable),
        variable = gsub(":", "", variable)
    ) %>%
    select(-geography)


getCensusData <- function(table) {
    # load census data and transform
    census_data <- get_acs(
        geography = "tract",
        table = table,
        year = 2020,
        state = "WA",
        survey = "acs5",
        cache_table = TRUE
    ) %>%
        separate(NAME, c("tract", "county", "state"), sep = ",") %>%
        mutate(
            tract = gsub("Census Tract ", "", tract),
            tract = as.double(tract),
            county = tolower(county),
            county = gsub(" county", "", county)
        ) %>%
        rename_all(recode, variable = "variable_key") %>%
        merge(variable_data, by = "variable_key") %>%
        select(-state, -GEOID, -variable_key)

    return(census_data)
}

getUrbanCensusData <- function(table) {
    # load urban data and transform
    census_data <- get_acs(
    geography = "urban area",
    table = table,
    year = 2020,
    survey = "acs5",
    cache_table = TRUE
    ) %>%
        filter(str_detect(NAME, "Spokane")) %>%
        rename_all(recode, variable = "variable_key") %>%
        merge(variable_data, by = "variable_key") %>%
        select(-GEOID, -NAME, -variable_key)


    return(census_data)
}
head(getCensusData("B05011"))
head(getUrbanCensusData("B05011"))

To install your API key for use in future sessions, run this function with `install = TRUE`.

Getting data from the 2016-2020 5-year ACS

Loading ACS5 variables for 2020 from table B05011 and caching the dataset for faster future access.

  tract   county        estimate moe variable       dataset
1 9501.00  adams        122       52 estimate_total period_of_naturalization
2   16.02  grays harbor 306      109 estimate_total period_of_naturalization
3  257.04  king         720      244 estimate_total period_of_naturalization
4 9613.00  mason         36       41 estimate_total period_of_naturalization
5  430.00  clark        246      115 estimate_total period_of_naturalization
6  204.01  king         581      270 estimate_total period_of_naturalization

Getting data from the 2016-2020 5-year ACS

Loading ACS5 variables for 2020 from table B05011 and caching the dataset for faster future access.

  estimate moe  variable
1 23725    1599 estimate_total
2 10794    1263 estimate_total_not_a_u.s._citizen
3 12931     980 estimate_total_naturalized_citizens
4  2128     456 estimate_total_naturalized_citizens_naturalized_2015_or_later
5  2407     456 estimate_total_naturalized_citizens_naturalized_2010_to_2014
6  2613     709 estimate_total_naturalized_citizens_naturalized_2005_to_2009
  dataset
1 period_of_naturalization
2 period_of_naturalization
3 period_of_naturalization
4 period_of_naturalization
5 period_of_naturalization
6 period_of_naturalization

In [4]:
variable_data <- load_variables(2020, "acs5", cache = TRUE) %>%
    rename_all(recode,
        name = "variable_key", concept = "dataset",
        label = "variable"
    ) %>%
    mutate(
        dataset = tolower(dataset),
        dataset = gsub(" ", "_", dataset),
        variable = tolower(variable),
        variable = gsub("!!", "_", variable),
        variable = gsub(" ", "_", variable),
        variable = gsub(":", "", variable)
    ) %>%
    select(-geography)


head(variable_data)

  variable_key variable                           dataset
1 B01001_001   estimate_total                     sex_by_age
2 B01001_002   estimate_total_male                sex_by_age
3 B01001_003   estimate_total_male_under_5_years  sex_by_age
4 B01001_004   estimate_total_male_5_to_9_years   sex_by_age
5 B01001_005   estimate_total_male_10_to_14_years sex_by_age
6 B01001_006   estimate_total_male_15_to_17_years sex_by_age

In [41]:
test <- get_acs(
  geography = "tract",
  table = "B05011",
  year = 2020,
  state = "WA",
  survey = "acs5",
  cache_table = TRUE
) %>%
  separate(NAME, c("tract", "county", "state"), sep = ",") %>%
  select(-state, -GEOID) %>%
  mutate(
    tract = gsub("Census Tract ", "", tract), tract = as.double(tract),
    county = tolower(county), county = gsub(" county", "", county)
  ) %>%
  rename_all(recode, variable = "variable_key")

head(test)

Getting data from the 2016-2020 5-year ACS

Loading ACS5 variables for 2020 from table B05011 and caching the dataset for faster future access.

  tract county variable_key estimate moe
1 9501   adams B05011_001   122      52
2 9501   adams B05011_002    28      27
3 9501   adams B05011_003    94      43
4 9501   adams B05011_004     6      10
5 9501   adams B05011_005     0      13
6 9501   adams B05011_006    10      10

In [27]:
getUrbanCensusData <- function(table) {
    variable_data <- load_variables(2020, "acs5", cache = TRUE) %>%
    rename_all(recode,
        name = "variable_key", concept = "dataset",
        label = "variable"
    ) %>%
    mutate(
        dataset = tolower(dataset),
        dataset = gsub(" ", "_", dataset),
        variable = tolower(variable),
        variable = gsub("!!", "_", variable),
        variable = gsub(" ", "_", variable),
        variable = gsub(":", "", variable)
    ) %>%
    select(-geography)

    census_data <- get_acs(
    geography = "urban area",
    table = table,
    year = 2020,
    survey = "acs5",
    cache_table = TRUE
    ) %>%
        filter(str_detect(NAME, "Spokane")) %>%
        rename_all(recode, variable = "variable_key") %>%
        merge(variable_data, by = "variable_key") %>%
        select(-GEOID, -NAME, -variable_key)


    return(census_data)
}

getUrbanCensusData("B05011")

Getting data from the 2016-2020 5-year ACS

Loading ACS5 variables for 2020 from table B05011 and caching the dataset for faster future access.

   estimate moe  variable
1  23725    1599 estimate_total
2  10794    1263 estimate_total_not_a_u.s._citizen
3  12931     980 estimate_total_naturalized_citizens
4   2128     456 estimate_total_naturalized_citizens_naturalized_2015_or_later
5   2407     456 estimate_total_naturalized_citizens_naturalized_2010_to_2014
6   2613     709 estimate_total_naturalized_citizens_naturalized_2005_to_2009
7   1280     269 estimate_total_naturalized_citizens_naturalized_2000_to_2004
8   1102     228 estimate_total_naturalized_citizens_naturalized_1995_to_1999
9    514     150 estimate_total_naturalized_citizens_naturalized_1990_to_1994
10  2887     420 estimate_total_naturalized_citizens_naturalized_before_1990
   dataset
1  period_of_naturalization
2  period_of_naturalization
3  period_of_naturalization
4  period_of_naturalization
5  period_of_naturalization
6  period_of_naturalization
7  period_of_naturalization
8  period_of_naturalization
9  period_of_naturalization
10 period_of_naturalization