In [1]:
library(tidyverse)

data <- read.csv("../data/combined_data.csv")
internet_cost <- read.csv("../data/internet_cost.csv")
provider_data <- read.csv("../data/provider_data.csv") %>% select(-X)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
provider_data %>% select(GEOID) %>% unique()

       GEOID
1      53075000602
52     53075000601
100    53075000202
140    53075000201
224    53063011702
850    53063014400
3181   53063014500
7451   53001950200
10220  53001950400
11668  53001950100
15305  53001950500
16805  53003960400
17308  53003960200
18631  53003960100
20237  53003960600
21148  53003960300
22662  53003960500
23738  53075000100
24308  53075000900
29574  53075001000
32031  53075000300
32810  53075000800
34371  53075000400
35048  53075000700
37764  53075000500
37852  53063011104
37881  53063010507
37997  53063011203
38263  53063011103
38519  53063003601
⋮      ⋮
146829 53063012100
147500 53065950900
148006 53065950700
150319 53065950300
152194 53065951100
154023 53065950200
156507 53065950800
159337 53065941000
160279 53065950600
161831 53065950500
163249 53051970200
165268 53051970400
166671 53051970300
168000 53051970500
168666 53051970100
170471 53001950302
170513 53001950301
170697 53001950303
170707 53019940000
171664 53019970200
174443 53019970100
177583 53063004601
178443 53063011000
179551 53063001400
182212 53063000800
183515 53063004500
184694 53063001500
187301 53063004400
188372 53063004602
189033 53063004800

In [3]:
head(data)

  GEOID       tract   not_citizen naturalized_citizen native_citizen
1 53001950100 9501.00  28          94                 2484
2 53001950200 9502.00 132           8                 1623
3 53001950301 9503.01 486          31                 1064
4 53001950302 9503.02 571         194                 1669
5 53001950303 9503.03 545         128                 1841
6 53001950400 9504.00 729         141                 2274
  foreign_born work_from_home desktop_or_laptop desktop_or_laptop_only
1 122           82            754               88
2 140           47            448               21
3 517            3            242               17
4 765           26            305                0
5 673          110            396                6
6 870           23            455               46
  smartphone ⋯ access_with_no_subscription no_internet_access
1 867        ⋯ 52                          137
2 503        ⋯  9                          116
3 301        ⋯ 11                          163
4 554        ⋯ 18                           88
5 581        ⋯  9                           66
6 639        ⋯ 23                          168
  sixty_five_and_older median_income mean_income mean_d_mbps mean_u_mbps
1 505                  52589         63888        62.65864    9.528565
2 228                  59886         61202        61.97721    9.037524
3 259                  39928         53032        88.08681   13.245116
4 258                  58884         70361        87.01079   17.036596
5 271                  50915         74863        74.14176   14.220405
6 308                  63750         69882       267.83971   32.930247
  mean_lat_ms number_providers mean_lowest_cost
1 42.64130    12               54.25000
2 60.90244    12               56.08333
3 60.16744     8               53.00000
4 44.42424     8               53.00000
5 37.89241     8               53.00000
6 23.83806     9               52.22222

In [4]:
head(internet_cost)

  provider_id company
1 77236       First Step Internet, LLC
2 79497       Viasat Inc
3 81097       HughesNet
4 81199       Space Exploration Technologies Corp.
5 78962       Frontier Communications Northwest, LLC, dba Ziply Fiber
6 86844       T-Mobile
  lowest_per_month
1  40
2  70
3  65
4 110
5  20
6  50
  source
1 https://www.fsr.com/high-speed-wireless-internet-service-pricing/
2 https://buy.viasat.com/en-US/r/pln
3 https://www.hughesnet.com/get-started
4 https://www.starlink.com/orders/?processorToken=34360db1-77ec-4fcb-a4ef-123da5c9101f
5 https://ziplyfiber.com/
6 https://www.t-mobile.com/home-internet

In [5]:
head(provider_data)

  tract company                              is_consumer is_business max_d_mbps
1 6.02  VSATSystemsLLC                       1           1             2
2 6.02  First Step Internet, LLC             1           0            25
3 6.02  GCI Communication Corp.              0           1             0
4 6.02  Viasat Inc                           1           1           100
5 6.02  HughesNet                            1           1            25
6 6.02  Space Exploration Technologies Corp. 1           1           100
  max_u_mbps technology_code provider_id GEOID
1  1.3       60              76178       5.3075e+10
2  4.0       70              77236       5.3075e+10
3  0.0       60              80632       5.3075e+10
4  3.0       60              79497       5.3075e+10
5  3.0       60              81097       5.3075e+10
6 10.0       60              81199       5.3075e+10

In [6]:
internet_cost <- inner_join(provider_data, internet_cost)  %>% select(GEOID, tract, provider_id, lowest_per_month)

Joining with `by = join_by(company, provider_id)`

In [7]:
head(internet_cost)

  GEOID      tract provider_id lowest_per_month
1 5.3075e+10 6.02  77236        40
2 5.3075e+10 6.02  79497        70
3 5.3075e+10 6.02  81097        65
4 5.3075e+10 6.02  81199       110
5 5.3075e+10 6.02  81199       110
6 5.3075e+10 6.02  78962        20

In [8]:
internet_cost %>% 
    filter(GEOID == 53001950100) %>% 
    unique()

     GEOID       tract provider_id lowest_per_month
1    53001950100 9501  79497        70
3    53001950100 9501  81097        65
4    53001950100 9501  78774        43
6    53001950100 9501  81199       110
7    53001950100 9501  78688        46
15   53001950100 9501  81190        50
24   53001950100 9501  79653        49
56   53001950100 9501  86844        50
66   53001950100 9501  77036        50
78   53001950100 9501  75896        50
178  53001950100 9501  84932        30
2115 53001950100 9501  76068        38

In [9]:
internet_cost <- internet_cost %>% 
    group_by(GEOID) %>% 
    unique() %>% 
    summarise(
        number_providers = n(),
        lowest_cost = min(lowest_per_month)
    )

In [10]:
head(internet_cost)

  GEOID       number_providers lowest_cost
1 53001950100 12               30
2 53001950200 12               30
3 53001950301  8               30
4 53001950302  8               30
5 53001950303  8               30
6 53001950400  9               30

In [26]:
internet_cost <- internet_cost %>% select(-number_providers)

In [28]:
data <- left_join(data, internet_cost) %>% select(-mean_lowest_cost)

Joining with `by = join_by(GEOID)`

In [37]:
data$lowest_cost[is.na(data$lowest_cost)] <- mean(data$lowest_cost, na.rm=TRUE)

In [40]:
# write.csv(data, "../data/combined_data.csv", row.names = FALSE)