In [14]:
import pandas as pd

In [15]:
census_data = pd.read_csv("../app/data/census_data.csv")
provider_data = pd.read_csv("../app/data/provider_and_lowest_cost.csv")
ookla_data = pd.read_csv("../app/data/ookla.csv")

In [16]:
census_data.head()

,tract,county,GEOID,has_computer,with_internet,work_from_home,broadband,median_income,median_age,total_population
0,9601.0,Asotin County,53003960100,1664.0,1569.0,145.0,1561.0,73942.0,50.1,4320.0
1,9602.0,Asotin County,53003960200,1872.0,1780.0,421.0,1753.0,72988.0,53.9,4755.0
2,9603.0,Asotin County,53003960300,1279.0,1156.0,6.0,1156.0,38077.0,34.5,3633.0
3,9604.0,Asotin County,53003960400,941.0,805.0,29.0,732.0,38777.0,38.9,2517.0
4,9605.0,Asotin County,53003960500,1345.0,1198.0,26.0,1192.0,42639.0,36.8,3517.0

In [17]:
provider_data.head()

         GEOID  number_providers  mean_lowest_cost
0  53001950100                12         54.250000
1  53001950200                12         56.083333
2  53001950301                 8         53.000000
3  53001950302                 8         53.000000
4  53001950303                 8         53.000000

In [18]:
ookla_data.head()

         GEOID    tract  mean_d_mbps  mean_u_mbps  mean_lat_ms
0  53001950100  9501.00    62.658641     9.528565     0.042641
1  53001950200  9502.00    61.977207     9.037524     0.060902
2  53001950301  9503.01    88.086809    13.245116     0.060167
3  53001950302  9503.02    87.010788    17.036596     0.044424
4  53001950303  9503.03    74.141759    14.220405     0.037892

In [19]:
data =  pd.merge(census_data, provider_data, on="GEOID", how="left")

In [20]:
data = pd.merge(data, ookla_data, on="GEOID", how="left")

In [21]:
data = data.drop(columns=["tract_x"])

In [22]:
data.isna().any()

county              False
GEOID               False
has_computer        False
with_internet       False
work_from_home      False
broadband           False
median_income       False
median_age          False
total_population    False
number_providers     True
mean_lowest_cost     True
tract_y             False
mean_d_mbps         False
mean_u_mbps         False
mean_lat_ms         False
dtype: bool

In [23]:
mean_providers = data.number_providers.mean()
mean_mean_lowest_cost = data.mean_lowest_cost.mean()

In [24]:
data.number_providers.fillna(mean_providers, inplace=True)
data.mean_lowest_cost.fillna(mean_mean_lowest_cost, inplace=True)

In [25]:
data.isna().any()

county              False
GEOID               False
has_computer        False
with_internet       False
work_from_home      False
broadband           False
median_income       False
median_age          False
total_population    False
number_providers    False
mean_lowest_cost    False
tract_y             False
mean_d_mbps         False
mean_u_mbps         False
mean_lat_ms         False
dtype: bool

In [26]:
data.to_csv("../app/data/combined_data2.csv", index=False)